<!doctype html>
<html>
<head>
    <title>Rixx Music</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <style>
        body         { padding-top:80px; word-wrap:break-word; }
    </style>
</head>
<body>
<div class="container">

    <div class="page-header text-center">
        <a href="/account" class="btn btn-default btn-sm">My Account</a>
        <a href="/settings" class="btn btn-default btn-sm">My Settings</a>
        <a href="/following" class="btn btn-default btn-sm">Following</a>
        <a href="/followers" class="btn btn-default btn-sm">Followers</a>
        <a href="/users" class="btn btn-default btn-sm">Users</a>
        <a href="/logout" class="btn btn-default btn-sm">Logout</a>
        

    </div>
    <% if (result[0].relative_path) { %>
        <p>
            at that time:<a href='posts?id=<%= result[0]._id %>' ><%= result[0].time %></a>
            <br>
            <a href='user?id=<%= result[0].user_id %>' ><%= result[0].user_name %></a> uploaded this image
            <br>
            <img src='<%= result[0].relative_path %>' height="100" width="100"><br>
            
            
        </p>
        
    <% } else { %>
        <p>at that time:<a href='post?id=<%= result[0]._id %>' ><%= result[0].time %></a>
        <br>
        <a href='user?id=<%= result[0].user_id %>' ><%= result[0].user_name %></a> listen to this song <%= result[0].title %>
        </p>
    <% } %>

    <a href="/like?id=<%= result[0]._id %>" class="btn btn-primary btn-sm">Like</a>
    <a href="/dislike?id=<%= result[0]._id %>" class="btn btn-primary btn-sm">Dislike</a>
    <br>
    <form action="/add_comment?id=<%= result[0]._id %>" method="post">
        Your comment:<input type="text" name="comment"><br>
        <input type="submit" class="btn btn-primary btn-sm" value='Add Comment'>
    </form>
    <br>
    <a href="/push?id=<%= result[0]._id %>" class="btn btn-primary btn-sm">Push</a>
    <br>

    The Likes:
    <% if (result[0].likes) { %>
        <% for(var i=0; i<result[0].likes.length; i++) { %>
                <a href='user?id=<%= result[0].likes[i].id %>' ><%= result[0].likes[i].name %></a>
        <% } %>
    <% } %>   
    <br>
    The Dislikes:
    <% if (result[0].dislikes) { %>
        <% for(var i=0; i<result[0].dislikes.length; i++) { %>
                <a href='user?id=<%= result[0].dislikes[i].id %>' ><%= result[0].dislikes[i].name %></a>
        <% } %>
    <% } %>   
    <br>
    The Comments:<% if (result[0].comments) { %>
        <% for(var i=0; i<result[0].comments.length; i++) { %>
                <a href='user?id=<%= result[0].comments[i].id %>' ><%= result[0].comments[i].name %></a> said : <%= result[0].comments[i].comment %>
        <% } %>
    <% } %>
    <br>
    The Pushes:<% if (result[0].likes) { %>
        <% for(var i=0; i<result[0].pushes.length; i++) { %>
                <a href='user?id=<%= result[0].pushes[i].id %>' ><%= result[0].pushes[i].name %></a>
        <% } %>
    <% } %> 
    <br>

    


</div>
</body>
</html>
